<div>
  <h2>Reset Password</h2>

  <ion-input
    type="password"
    fill="solid"
    label="New Password"
    [(ngModel)]="password"
  ></ion-input>

  <ion-input
    type="password"
    fill="solid"
    label="Confirm Password"
    [(ngModel)]="confirmPassword"
  ></ion-input>

  <ion-button
    [disabled]="!formValid" (click)="resetPassword()"
  >
    Update Password
  </ion-button>

  <a routerLink="/login">Back to Login</a>

  <ion-toast
    [isOpen]="isToastOpen"
    [message]="toastMessage"
    [duration]="3000"
    (didDismiss)="setOpen(false)"
    swipeGesture="vertical"
  ></ion-toast>
</div>
