<div class="footer-wrapper">
  <ion-tab-bar>
    <div class="tab-bar-inner">
      <ion-tab-button (click)="navigate('/feed')" [class.tab-selected]="isActive('/feed')">
        <ion-icon name="home"></ion-icon>
      </ion-tab-button>

      <ion-tab-button (click)="navigate('/membership')" [class.tab-selected]="isActive('/membership')">
        <ion-icon name="heart"></ion-icon>
      </ion-tab-button>

      <ion-tab-button (click)="navigate('/calendar')" [class.tab-selected]="isActive('/calendar')">
        <ion-icon name="calendar-number"></ion-icon>
      </ion-tab-button>

      <ion-tab-button (click)="navigate('/profile')" [class.tab-selected]="isActive('/profile')">
        <ion-icon name="person-circle" *ngIf="!user?.profilePicture"></ion-icon>
        <div class="img-div" *ngIf="user?.profilePicture">
          <ion-img src="{{user?.profilePicture}}"></ion-img>
        </div>
      </ion-tab-button>
    </div>
  </ion-tab-bar>
</div>
